.text-center {
    text-align: center;
}

.no-bottom-margin {
    margin-bottom: 0px;
}

.mt-80 {
    margin-top: 80px;
}

.border-dashed-blue {
    border: 2px dashed #2060DF
}

#about-article {
    background-image: url("images/shop_banner_distance_faded.png");
    background-color: #2060DF;
    background-repeat: no-repeat;
    background-position: center; 
    height: 336px;
}

#about-article-content {
    margin: auto;
    width: 930px;
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 5px;
}